### Data Cleaning

In [85]:
# Import libraries
import pandas as pd
import psycopg2

In [86]:
# Load MLB batting statistics
batter_stats = pd.read_csv('data/batter_stats.csv')

batter_stats.head()

,Rk,Player,HR,AB,Season,Age,Team,Lg,G,PA,...,SLG,OPS,OPS+,TB,GIDP,HBP,SH,SF,IBB,Pos
0,1,Giancarlo Stanton,59,597,2017,27,MIA,NL,159,692,...,0.631,1.007,169,377,13,7,0,3,13,*9/HD
1,2,Pete Alonso,53,597,2019,24,NYM,NL,161,693,...,0.583,0.941,147,348,13,21,0,3,6,*3/HD
2,3,Aaron Judge,52,542,2017,25,NYY,AL,155,678,...,0.627,1.049,171,340,15,5,0,4,11,*9D/H
3,4,Eugenio Suárez,49,575,2019,27,CIN,NL,159,662,...,0.572,0.930,131,329,12,11,0,6,4,*5/HD
4,5,Khris Davis,48,576,2018,30,OAK,AL,151,654,...,0.549,0.874,137,316,16,12,0,7,5,*D7/H

In [87]:
# Drop unnecessary columns
batter_stats = batter_stats[['Player', 'Season', 'BA', 'SLG']]

batter_stats.head()

              Player  Season     BA    SLG
0  Giancarlo Stanton    2017  0.281  0.631
1        Pete Alonso    2019  0.260  0.583
2        Aaron Judge    2017  0.284  0.627
3     Eugenio Suárez    2019  0.271  0.572
4        Khris Davis    2018  0.247  0.549

In [88]:
# Function to reformat player names
def reorder_name(name):
  name_parts = name.split()
  if len(name_parts) >= 2:
    last_name = name_parts[-1]
    first_name = " ".join(name_parts[:-1])
    return f"{last_name}, {first_name}"
  else:
    return name

In [89]:
batter_stats['Player'] = batter_stats['Player'].apply(reorder_name)

batter_stats.head()

               Player  Season     BA    SLG
0  Stanton, Giancarlo    2017  0.281  0.631
1        Alonso, Pete    2019  0.260  0.583
2        Judge, Aaron    2017  0.284  0.627
3     Suárez, Eugenio    2019  0.271  0.572
4        Davis, Khris    2018  0.247  0.549

In [90]:
# Load StatCast statistics
statcast = pd.read_csv('data/statcast.csv')

statcast.head()

,id,rank,year,player,batted_ball_events,launch_angle,sweet_spot_percentage,max_ev,average_ev,fly_ball_line_drive_ev,ground_ball_ev,max_distance,average_distance,average_homerun,hard_hit_95mph+,hard_hit_percentage,hard_hit_swing_percentage,total_barrels,barrels_batted_balls_percentage,barrels_plate_appearance_percentage
0,1,1,2022,"Judge, Aaron",341,14.6,37.8,118.4,95.8,100.2,89.1,465,205,413.0,210,61.6,20.3,91,26.7,15.8
1,2,2,2022,"Alvarez, Yordan",304,12.1,40.1,117.4,95.5,98.2,92.7,469,193,403.0,186,61.2,23.7,59,19.4,12.7
2,3,3,2022,"Trout, Mike",234,24.7,37.2,114.4,91.7,94.9,87.7,472,218,407.0,120,51.3,16.5,46,19.7,11.6
3,4,4,2022,"Schwarber, Kyle",312,18.9,34.6,114.8,93.3,99.7,87.2,468,197,415.0,170,54.5,17.6,64,20.5,11.5
4,5,5,2022,"Stanton, Giancarlo",228,10.2,26.3,119.8,94.6,98.2,94.1,445,160,400.0,117,51.3,17.8,42,18.4,11.3

In [91]:
# Drop unnecessary columns
statcast = statcast[['year', 'player', 'total_barrels', 'barrels_batted_balls_percentage', 'barrels_plate_appearance_percentage']]

# Rename columns
statcast.rename(columns={
    'year': 'Season',
    'player': 'Player'
}, inplace=True)

statcast.head()

,Season,Player,total_barrels,barrels_batted_balls_percentage,barrels_plate_appearance_percentage
0,2022,"Judge, Aaron",91,26.7,15.8
1,2022,"Alvarez, Yordan",59,19.4,12.7
2,2022,"Trout, Mike",46,19.7,11.6
3,2022,"Schwarber, Kyle",64,20.5,11.5
4,2022,"Stanton, Giancarlo",42,18.4,11.3

In [92]:
# Strip whitespace
statcast = statcast.applymap(lambda x: x.strip() if isinstance(x, str) else x)

statcast.head()

C:\Users\3aama\AppData\Local\Temp\ipykernel_24332\3425268905.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  statcast = statcast.applymap(lambda x: x.strip() if isinstance(x, str) else x)

,Season,Player,total_barrels,barrels_batted_balls_percentage,barrels_plate_appearance_percentage
0,2022,"Judge, Aaron",91,26.7,15.8
1,2022,"Alvarez, Yordan",59,19.4,12.7
2,2022,"Trout, Mike",46,19.7,11.6
3,2022,"Schwarber, Kyle",64,20.5,11.5
4,2022,"Stanton, Giancarlo",42,18.4,11.3

In [93]:
# Merge our DataFrames
batting_df = batter_stats.merge(statcast, how="inner", on=['Player', 'Season'])

batting_df.head()

,Player,Season,BA,SLG,total_barrels,barrels_batted_balls_percentage,barrels_plate_appearance_percentage
0,"Stanton, Giancarlo",2017,0.281,0.631,76,17.4,11.0
1,"Alonso, Pete",2019,0.260,0.583,66,15.8,9.5
2,"Judge, Aaron",2017,0.284,0.627,87,25.7,12.8
3,"Suárez, Eugenio",2019,0.271,0.572,54,13.8,8.2
4,"Davis, Khris",2018,0.247,0.549,70,17.2,10.7

In [94]:
# Create SQL Table to store source data, Insert Data, and Retreive Data for ML Model 
user = 'postgres'
password = 'Enter123'
host = 'localhost'
port = 5432
db = 'Statcast_DB'

conn = psycopg2.connect(dbname=db, user=user, password=password, host=host, port=port)

with conn.cursor() as cur:
    insert_data = batting_df.to_records(index=False).tolist()
    conn.commit()
    cur.execute("""
    CREATE TABLE IF NOT EXISTS statcast (
        Player TEXT,
        Season INTEGER,
        BA FLOAT,
        SLG FLOAT,
        rank INTEGER,
        id TEXT,
        launch_angle FLOAT,
        sweet_spot_percentage FLOAT,
        fly_ball_line_drive_ev FLOAT,
        max_ev FLOAT,
        average_ev FLOAT,
        ground_ball_ev FLOAT,
        max_distance INTEGER,
        average_distance INTEGER,
        average_homerun FLOAT,
        "hard_hit_95mph+" INTEGER,
        hard_hit_percentage FLOAT,
        hard_hit_swing_percentage FLOAT,
        total_barrels INTEGER,
        barrels_batted_balls_percentage FLOAT,
        barrels_plate_appearance_percentage FLOAT )
    """)
    conn.commit()
    insert_query = """
    INSERT INTO statcast (
        Player, Season, BA, SLG, rank, id, launch_angle, sweet_spot_percentage, fly_ball_line_drive_ev, max_ev, average_ev, 
        ground_ball_ev, max_distance, average_distance, average_homerun, "hard_hit_95mph+", 
        hard_hit_percentage, hard_hit_swing_percentage, total_barrels, barrels_batted_balls_percentage, 
        barrels_plate_appearance_percentage
    ) VALUES (
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s
    ) """
    insert_data = batting_df.to_records(index=False).tolist()
    print(insert_data[0]) 

query = "SELECT * FROM statcast"
df = pd.read_sql_query(query, conn)
print(df.head)
cur.close()
conn.close()

('Stanton, Giancarlo', 2017, 0.281, 0.631, 76, 17.4, 11.0)
<bound method NDFrame.head of                   player  season     ba    slg  rank   id  launch_angle  \
0     Stanton, Giancarlo    2017  0.281  0.631  1239    3          11.2
1           Alonso, Pete    2019  0.260  0.583   748   11          14.8
2           Judge, Aaron    2017  0.284  0.627  1237    1          15.8
3        Suárez, Eugenio    2019  0.271  0.572   767   30          17.7
4           Davis, Khris    2018  0.247  0.549   989    2          18.1
..                   ...     ...    ...    ...   ...  ...           ...
718        Smith, Mallex    2018  0.296  0.406  1226  239           3.7
719  Strange-Gordon, Dee    2017  0.308  0.375  1492  256           2.2
720        Wolters, Tony    2019  0.262  0.329   986  249          10.1
721      Hamilton, Billy    2019  0.218  0.275   987  250          15.2
722    Hernández, Gorkys    2017  0.255  0.326  1483  247           9.3

     sweet_spot_percentage  fly_ball_line_drive_ev  max_ev  ...  \
0                     31.6                   122.2    92.0  ...
1                     36.9                   118.3    90.7  ...
2                     38.2                   121.1    95.0  ...
3                     38.0                   112.3    89.3  ...
4                     37.7                   112.8    92.5  ...
..                     ...                     ...     ...  ...
718                   32.2                   104.7    85.8  ...
719                   27.7                   104.1    81.6  ...
720                   37.5                   103.4    85.3  ...
721                   32.1                    99.9    80.7  ...
722                   31.1                   108.9    85.2  ...

     ground_ball_ev  max_distance  average_distance  average_homerun  \
0              86.8           468               183            418.0
1              85.9           489               189            414.0
2              88.6           496               216            413.0
3              86.1           457               195            400.0
4              87.7           438               211            405.0
..              ...           ...               ...              ...
718            83.3           412               144            394.0
719            79.6           395               122            380.0
720            83.1           413               166            361.0
721            81.1           374               155              NaN
722            84.6           389               150              NaN

     hard_hit_95mph+  hard_hit_percentage  hard_hit_swing_percentage  \
0                199                 45.6                       17.0
1                176                 42.7                       13.7
2                185                 54.7                       15.1
3                157                 40.8                       13.0
4                195                 48.1                       15.7
..               ...                  ...                        ...
718               90                 23.0                        8.8
719               63                 11.2                        4.8
720               59                 19.7                        8.6
721               17                  7.3                        2.5
722               63                 26.1                        9.3

     total_barrels  barrels_batted_balls_percentage  \
0               76                             17.4
1               66                             15.8
2               87                             25.7
3               54                             13.8
4               70                             17.2
..             ...                              ...
718              6                              1.5
719              1                              0.2
720              0                              0.0
721              0                              0.0
722              4                              1.7

     barrels_plate_appearance_percentage
0                                   11.0
1                                    9.5
2                                   12.8
3                                    8.2
4                                   10.7
..                                   ...
718                                  1.1
719                                  0.1
720                                  0.0
721                                  0.0
722                                  1.1

[723 rows x 21 columns]>

C:\Users\3aama\AppData\Local\Temp\ipykernel_24332\3326579152.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [95]:
# Replace all above-average BAs with 1 and below-average BAs with 0
batting_df.loc[batting_df['BA'] >= batting_df['BA'].quantile(0.5), 'BA'] = 1
batting_df.loc[batting_df['BA'] < batting_df['BA'].quantile(0.5), 'BA'] = 0

# Replace all above-average SLGs with 1 and below-average SLGs with 0
batting_df.loc[batting_df['SLG'] >= batting_df['SLG'].quantile(0.5), 'SLG'] = 1
batting_df.loc[batting_df['SLG'] < batting_df['SLG'].quantile(0.5), 'SLG'] = 0

# Rename columns
batting_df.rename(columns={
    'BA': 'BA > AVG',
    'SLG': 'SLG > AVG'
}, inplace=True)

batting_df.head()

,Player,Season,BA > AVG,SLG > AVG,total_barrels,barrels_batted_balls_percentage,barrels_plate_appearance_percentage
0,"Stanton, Giancarlo",2017,1.0,1.0,76,17.4,11.0
1,"Alonso, Pete",2019,0.0,1.0,66,15.8,9.5
2,"Judge, Aaron",2017,1.0,1.0,87,25.7,12.8
3,"Suárez, Eugenio",2019,1.0,1.0,54,13.8,8.2
4,"Davis, Khris",2018,0.0,1.0,70,17.2,10.7

### Training the Random Forest Model

In [96]:
# Import libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [97]:
# Define features set
X = batting_df.copy()
X.drop(['Player', 'Season', 'BA > AVG', 'SLG > AVG'], axis=1, inplace=True)
X.head()

,total_barrels,barrels_batted_balls_percentage,barrels_plate_appearance_percentage
0,76,17.4,11.0
1,66,15.8,9.5
2,87,25.7,12.8
3,54,13.8,8.2
4,70,17.2,10.7

In [98]:
# Define target vector
y = batting_df['SLG > AVG'].ravel()
y[:5]

C:\Users\3aama\AppData\Local\Temp\ipykernel_24332\3888265937.py:2: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  y = batting_df['SLG > AVG'].ravel()

array([1., 1., 1., 1., 1.])

In [99]:
# Splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [100]:
# Create StandardScaler
scaler = StandardScaler()

In [101]:
# Fitting standard scaler
X_scaler = scaler.fit(X_train)

In [102]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [103]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=1000, random_state=1)

In [104]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [105]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [106]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [107]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           72           17
Actual 1           19           73

Accuracy Score : 0.8011049723756906
Classification Report
              precision    recall  f1-score   support

         0.0       0.79      0.81      0.80        89
         1.0       0.81      0.79      0.80        92

    accuracy                           0.80       181
   macro avg       0.80      0.80      0.80       181
weighted avg       0.80      0.80      0.80       181